// Colors
$red: #ea3515;

// Fonts
$font-family-serif: 'Roboto Slab', serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: $font-family-serif;
$font-family-base: $font-family-sans-serif;
$h2-font-size: 2.6rem;

@import './node_modules/bootstrap/scss/bootstrap.scss';

.section {
  padding: 4.5em 0;

  &:nth-child(even) {
    background: $gray-100;
  }

  @include media-breakpoint-down(md) {
    & {
      padding: 2em 0;
    }
  }
}

h5 {
  font-size: 1.2em;

  @include media-breakpoint-down(md) {
    & {
      font-size: 1em;
    }
  }
}

.main-heading {
  font-size: 4em;
  margin-top: 0;

  @include media-breakpoint-down(md) {
    & {
      font-size: 2.2em;
    }
  }
}

.alert-bar {
  .alert-bar-label {
    font-size: 1.4em;
  }
  .alert-bar-message {
    font-size: 1.1em;
  }
}

// Map overlay fix
$iframe-height: 400px;
.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: $iframe-height; /* your iframe height */
  top: $iframe-height; /* your iframe height */
  margin-top: -$iframe-height; /* your iframe height */
}
